@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --primary-color: #2219D1;
  --primary-hover: #9ea6ff;
  --sub-color: #f8b4e1;
  --sub-hover: #f29ad5;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}