@import "../styles/base/reset";
@import "../styles/base/variables";
@import "../styles/base/mixins";
@import "../styles/base/font";


body {
  font-family: $font-base;
  background-color: $bg-color;
  color: $text-color;
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0; // 양쪽 여백
  width: 100%;

}
