@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --primary-color: #2219D1;
  --primary-hover: #9ea6ff;
  --sub-color: #FFD2F0;
  --sub-hover: #f29ad5;
}

body{
  font-family: "Pretendard", sans-serif;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}