@import './base/reset';
@import './base/variables';

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;

  // ✅ 모바일 화면일 때
  @include respond-max(mobile-m) {
    background-color: $bg-color;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0; // 양쪽 여백
  width: 100%;

  /* footer의 높이 */
  @include respond-max(mobile-m) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    flex: 1 1;
    overflow-y: scroll;
  }
}

:global {
  .CustomOverlay {
    padding: 2px 8px;
    background-color: white;
    border: 1px solid $color-gray-300;
    border-radius: 10px 0 10px 0;
  }
}